@import '../../node_modules/coffeekraken-gridle/index';

// %% Replicate |3o5e
$mediumMinWidth: 768px !default;
$exxmediumMinWidth: 1024px !default;
$largeMinWidth: 1280px !default;
$gutterWidth: 0 !default;

// %% Docs example
@include g-setup((columns: 12,
        column-width: 60,
        width: 1200,
        container-width: 85vw,
        container-max-width: 1440px));

// Hamburger / mobile design
@include g-register-state(small, (min-width: 0,
        max-width: $mediumMinWidth - 1,
        gutter-width: $gutterWidth));

// Menu
@include g-register-state(medium, (min-width: $mediumMinWidth, max-width: $largeMinWidth - 1, gutter-width: $gutterWidth));

// Mobile first md
@include g-register-state(mf-medium, (min-width: $mediumMinWidth, gutter-width: $gutterWidth));

// Menu
@include g-register-state(large, (min-width: $largeMinWidth, gutter-width: $gutterWidth));

// Mobile and Tablet  SIMILAR BREAK IS ALREADY PRESENT
/*
@include g-register-state(ex-medium, (min-width: $mediumMinWidth,
        max-width: $exxmediumMinWidth - 1,
        gutter-width: $gutterWidth));
*/
// Desktop  SIMILAR BREAK IS ALREADY PRESENT
/*
@include g-register-state(exx-medium, (min-width: $exxmediumMinWidth,
        gutter-width: $gutterWidth));
*/

@include g-classes();
