@import 'gridle-setup';

$blue: #2f79d5;
$count : g-states-count(); // 5 // default, small, medium, mf-medium, large

html,
body {
    background: #f3f3f3;
}

.box {
    margin-top: 40px;
    background: $blue;
 
    @include g-state(medium) {
        background: lighten($blue, 15%);
    }

    @include g-state(mf-medium) {
        background: lighten($blue, 30%);
    }

    @include g-state(large) {
        background: lighten($blue, 45%);
    }

}

.gridlecontainer {
    background: pink;

    #content {
        border: 1px solid purple;
    }
}

$statesNames : g-states-names();
@each $name in $statesNames {
	p.test {
        content: $name;
    }
}